* {
  text-align: center;
}

.container-drag {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.cardDD{
    background-color:rgb(126, 189, 189);
    margin: 50px 75px;
    height: auto;
    min-height: 400px;
    width: 300px;
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.9);
    border-radius: 16px;
    overflow: hidden;

}

.header {
  display: inline-block;
  margin: 10px;
  padding: 0;
}

.task-header {
  display: inline-block;
  background-color: rgb(2, 54, 75);
  color: white;
  width:100%;
}

.draggable {
  width: 60%;
  padding: 5px 12px;
  background-color: rgb(192, 248, 201);
  margin: 15px auto;
  transition: 0.5s ease;
  border-radius: 10px;
}

.draggable:hover{
    background-color: rgb(131, 245, 150);
    transition: 0.5s ease;
}

